@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");

* {
	font-family: "Oxygen", sans-serif;
}

a {
	text-decoration: none;
	transition-duration: 100ms;
	color: rgb(65, 28, 126);

	&:hover {
		color: rgb(69, 52, 221);
	}
}
