@use "/src/mixins/glassmorphic.scss" as *;

.outer {
	display: flex;
	margin: 20px;
	height: 96%;

	nav {
		@include glassmorphic;

		width: 30%;
		padding: 5px;

		ul > li {
			margin-top: 10px;
			list-style: none;
		}
	}

	main {
		@include glassmorphic;

		flex: 1;

		margin-left: 20px;
		padding: 5px;
	}
}
