.bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url("/dashboard/assets/images/shot-stash-pastel-geometric-shape-two-tone.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
