@use "/src/mixins/glassmorphic" as *;

.app-entry-outer {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	background-image: url("/dashboard/assets/images/shot-stash-pastel-geometric-shape-two-tone.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	> .app-entry-middle {
		display: table-cell;
		vertical-align: middle;

		> .app-entry-inner {
			margin: auto;
			padding: 20px;
			width: 460px;
			height: 600px;

			@include glassmorphic;

			> .app-entry-card {
				height: 540px;
				text-align: center;
				padding: 30px;

				* {
					margin-top: 30px;
				}

				h1 {
					margin-top: 150px;
					margin-bottom: 100px;
				}
			}
		}
	}
}

$login-padding: 12px;
.app-login-button {
	padding: $login-padding $login-padding * 4 $login-padding $login-padding * 4;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	background: rgb(240, 246, 110);
	transition-duration: 100ms;

	&:hover {
		background: rgb(255, 255, 0);
	}
}
